{% extends "base-error.html" %}

{% load static %}

{%block tab-title%}{%block meta-title%}{%block apple-title%}{%block app-title%}{%block og-title%}{%block tw-title%}400 | Finance{%endblock%}{%endblock%}{%endblock%}{%endblock%}{%endblock%}{%endblock%}
{% block site-desc %}{% block og-site-desc %}{% block tw-site-desc %}{% endblock %}{% endblock %}{% endblock %}
{% block canonical-url %}{% block og-url %}{% block tw-url %}{% endblock %}{% endblock %}{% endblock %}

{% block og-name-title %}{% block tw-card-title %}400 | Finance{% endblock %}{% endblock %}
{% block og-img-type %}{% endblock %}
{% block og-img-w %}{% endblock %}
{% block og-img-h %}{% endblock %}
{% block og-img-url %}{% block tw-img-url %}{% endblock %}{% endblock %}

{%block errorname%}400 | BAD REQUEST{%endblock%}